.popup__error {
  min-height: 30px;
  width: 100%;
  color: #ff0000;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  line-height: 14.52px;
}

.popup__error:last-of-type {
  margin-bottom: 0;
}
